<section class="bg-white pt-16 pb-12">
  <div class="container mx-auto px-6">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      
      <div class="flex justify-center">
        <img src="../../assets/carrucel.jpg" alt="Protectores de la Salud" class="rounded-lg shadow-lg max-w-md w-full">
      </div>
      
      <div class="flex flex-col text-center md:text-left">
        <h2 class="text-4xl font-extrabold text-dark mb-4">
          Protectores de la Salud
        </h2>
        
        <p class="text-lg text-gray-700 leading-relaxed mb-8">
          La salud es lo más preciado que tenemos. Un cambio en la salud puede cambiar nuestra vida. Gracias a los protectores de la salud, éste cambio es positivo para miles de personas.
        </p>
        
        <div class="flex justify-center md:justify-start">
          <button class="bg-primary text-cyan-400 font-bold py-3 px-6 rounded-full inline-flex items-center space-x-2 shadow-lg hover:bg-blue-600 transition-colors duration-300">
            <span>¿Qué es un Protector de la Salud?</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-700" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
      
    </div>
  </div>
</section>

<div class="bg-white w-full h-20 flex justify-center items-start">
  <svg width="60%" height="30" viewBox="0 0 100 20" preserveAspectRatio="none" class="text-gray-200">
    <path d="M 0 10 Q 50 20 100 10" stroke="currentColor" fill="transparent" stroke-width="4" stroke-linecap="round"/>
  </svg>
</div>